<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
            <ion-back-button icon='chevron-back-outline'>
            </ion-back-button>
        </ion-buttons>
        <ion-title class="align-start text-color">1982-சேகர் சிவரஞ்சனி</ion-title>
        <ion-buttons slot="end">
            <ion-label class="text-color mr-16 fs-16">Sep 25</ion-label>
        </ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

	<ion-card class="mb-16 bs-card">
		<ion-item detail lines="none" button (click)="navigateToform()">
			<ion-label class="text-color">
				காணிக்கை பெறப்பட்டது
			</ion-label>
		</ion-item>
	</ion-card>

	<ion-card class="mb-16 bs-card">
		<ion-item lines="none">
			<ion-label class="text-color">
				வீடு பூட்டப்பட்டுள்ளது
			</ion-label>
		</ion-item>
	</ion-card>

	<ion-card class="mb-16 bs-card">
		<ion-item detail lines="none" button>
			<ion-label class="text-color">
				வீடு மாற்றம்
			</ion-label>
		</ion-item>
	</ion-card>

	<ion-card class="mb-16 bs-card">
		<ion-item detail lines="none" button>
			<ion-label class="text-color">
				மற்றொரு நாள் வரவும்
			</ion-label>
		</ion-item>
	</ion-card>

	<ion-card class="mb-16 bs-card">
		<ion-item lines="none">
			<ion-label class="text-color">
				செல்ல இயலவில்லை
			</ion-label>
		</ion-item>
	</ion-card>


	<div class="align-center">
		<ion-label>
			or
		</ion-label>
	</div>

	<ion-item detail button (click)="navigateToform()">
		<ion-label class="text-color">
			காணிக்கை பெறப்பட்டது
		</ion-label>
	</ion-item>
	<ion-item>
		<ion-label class="text-color">
			வீடு பூட்டப்பட்டுள்ளது
		</ion-label>
	</ion-item>
	<ion-item detail button>
		<ion-label class="text-color">
			வீடு மாற்றம்
		</ion-label>
	</ion-item>
	<ion-item detail button>
		<ion-label class="text-color">
			மற்றொரு நாள் வரவும்
		</ion-label>
	</ion-item>
	<ion-item >
		<ion-label class="text-color">
			செல்ல இயலவில்லை
		</ion-label>
	</ion-item>
</ion-content>
