<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
            <ion-back-button icon='chevron-back-outline'>
            </ion-back-button>
        </ion-buttons>
        <ion-title class="align-start text-color">1982-சேகர் சிவரஞ்சனி</ion-title>
        <ion-buttons slot="end">
            <ion-label class="text-color mr-16 fs-16">Sep 25</ion-label>
        </ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

	<ion-row class="mb-16 mt-16">
		<ion-col>
			<ion-item lines="none">
				<ion-label class="input-label">
					காணிக்கை
				</ion-label>
			</ion-item>
		</ion-col>
		<ion-col>
			<ion-item lines="none" class="input-item">
				<ion-label>Rs.
            	</ion-label>
				<ion-input type="number">

				</ion-input>
			</ion-item>
		</ion-col>
    </ion-row>
    
    <ion-row class="mb-16">
		<ion-col>
			<ion-item lines="none">
				<ion-label class="input-label">
					அரிசி
				</ion-label>
			</ion-item>
		</ion-col>
		<ion-col>
			<ion-item lines="none" class="input-item">
				<ion-input type="text">

				</ion-input>
			</ion-item>
		</ion-col>
    </ion-row>

    <ion-row class="mb-16">
		<ion-col>
			<ion-item lines="none">
				<ion-label class="input-label">
					பருப்பு
				</ion-label>
			</ion-item>
		</ion-col>
		<ion-col>
			<ion-item lines="none" class="input-item">
				<ion-input type="text">

				</ion-input>
			</ion-item>
		</ion-col>
    </ion-row>

    <ion-row class="mb-16">
		<ion-col>
			<ion-item lines="none">
				<ion-label class="input-label">
					எண்ணெய்
				</ion-label>
			</ion-item>
		</ion-col>
		<ion-col>
			<ion-item lines="none" class="input-item">
				<ion-input type="text">

				</ion-input>
			</ion-item>
		</ion-col>
    </ion-row>

    <ion-row class="mb-24">
		<ion-col>
			<ion-item lines="none">
				<ion-label class="input-label">
					கடுகு
				</ion-label>
			</ion-item>
		</ion-col>
		<ion-col>
			<ion-item lines="none" class="input-item">
				<ion-input type="text">

				</ion-input>
			</ion-item>
		</ion-col>
    </ion-row>

    <ion-button expand="block"
        class="mb-16 h-45px fs-16 theme-bg-color">
        சேமி
    </ion-button>

    <div>

    </div>

</ion-content>
