<ion-header class="ion-no-border">
	<ion-toolbar>
		<ion-buttons slot="start">
            <ion-menu-button>
				<ion-icon name="menu-outline" class="text-color"></ion-icon>
			</ion-menu-button>
            <!-- <ion-menu-button></ion-menu-button> -->
        </ion-buttons>
		<!-- <ion-title class="align-center text-color fs-18 font-700">நிர்வாக செயல்முறை</ion-title> -->
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

	<ion-item lines="none" class="align-center mb-24 mt-24">  
		<ion-label class="text-color fs-18 font-700">
			நிர்வாக செயல்முறை 
		</ion-label>
	</ion-item>

	<ion-item class="input-item mb-16 h-57px" lines="none">
		<ion-label position="floating" lines="none" 
            class="input-label">தேதி தேர்ந்தெடுக்கவும்
        </ion-label>
		<ion-datetime displayFormat="MMM DD YYYY"></ion-datetime>
		<ion-icon name="chevron-down-outline" slot="end" 
            class="align-self-center text-color fs-18">
        </ion-icon>
	</ion-item>

	<div lines="none" class="align-center mb-4">  
		<ion-label class="text-color fs-16 font-600 align-center">
			கோப்பு பதிவேற்றம் 
		</ion-label>
	</div>

	<ion-row class="mb-16">
		<ion-col class="align-center">
			<ion-button class="h-45px fs-16 theme-bg-color">
				கோப்பு
			</ion-button>
		</ion-col>
		<ion-col class="align-center">
			<ion-button class="h-45px fs-16 theme-bg-color">
				பதிவேற்று
			</ion-button>
		</ion-col>
	</ion-row>

	<div class="align-center"> 
		<ion-button class="h-45px fs-16 theme-bg-color">
			அறிக்கை பதிவிறக்கம்
		</ion-button>
	</div>

	


</ion-content>
