<ion-header>
    <ion-toolbar color="secondary">
        <ion-title class="align-start">
            1982-சேகர் சிவரஞ்சனி
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <div class="align-center">
        <ion-label class="mt-24 ion-text-wrap fs-18 text-color">

            3/5 A, ராகவேந்திரா,
            3rd வது தெரு, சேலையூர்

        </ion-label>
    </div>

</ion-content>

<ion-footer class="ion-no-border">
    <!-- <ion-row>
        <ion-col>
            <ion-button>

            </ion-button>
        </ion-col>
    </ion-row> -->

    <ion-row >
		<ion-col class="align-center">
			<ion-button class="h-45px fs-16 m-0" color="light" expand="full">
				வரைபடத்தில் காண்பி
			</ion-button>
		</ion-col>
		<ion-col class="align-center">
			<ion-button class="h-45px fs-16 m-0" color="secondary" expand="full">
				சரி
			</ion-button>
		</ion-col>
    </ion-row>
    
</ion-footer>
